pynput==1.7.4
email==7.0.2
threading==3.0.10
sys==3.0.10
email.mime.multipart==7.0.2
email.mime.text==7.0.2
platform==1.0.8
win32gui==7.0.2
win32con==7.0.2
os==3.10.1
smtplib==3.0.10
keyboard==0.13.5
email.mime.multipart==7.0.2
email.mime.text==7.0.2